.wpbannerman-main-upload.has-image .wpbannerman-button-upload {
    display: none;
}
.wpbannerman-main-upload:not(.has-image) .wpbannerman-main-image {
    display: none;
}
.wpbannerman-main-image {
    text-align: center;
    border: 0.15rem dashed #addbc3;
    padding: 2rem;
}
.wpbannerman-upload-btn {
    display: block;
    margin: 2rem 0;
    text-align: center;
    padding: 2rem;
    border: 0.25rem dashed #9ec5df;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.wpbannerman-image {
    display: inline-block;
    position: relative;
}
.wpbannerman-image img {
    margin: 0 auto;
    max-width: 100%;
}
.wpbannerman-delete-btn {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}
.wpbannerman-delete-btn .dashicons {
    color: #f30808;
    font-size: 1.5rem;
    cursor: pointer;
}
.wpbannerman-admin .text-right {
    text-align: right;
}
.wpbannerman-admin .text-center {
    text-align: center;
}
.wpbannerman-admin .wpbannerman-filter {
    margin: 2rem 1rem;
}
.wpbannerman-admin .wpbannerman-filter .custom-datepicker {
    margin-top: 1rem;
    display: none;
}